.loginSection{
    height: max-content;
    padding: 3em 30em;
    background-image: url("../../../public/assets/login.jpeg");
    background-position: left;
    background-size: cover;
}
.loginSection h5{
    text-align: center;
    color: #1D4273;
}
.loginSection form{
    margin: 3em 0;
}
.loginButton{
    width: max-content;
    margin: auto;
}
.loginSection div p{
    text-align: center;
}

@media screen and (max-width: 767px){
    .loginSection{
        padding: 2em;
        background-size: 100% 100%;
    }
}

@media screen and (min-width: 2500px){
    .loginSection{
        padding: 3em 55em;
    }
    .loginSection h5{
        font-size: 1.5em;
    }
}