#carouselExampleControls div div img{
    height: 40em;
    margin-bottom: 2em;
}

@media screen and (max-width: 767px){
    #carouselExampleControls div div img{
        height: 15em;
    }
}

@media screen and (min-width: 2500px){
    #carouselExampleControls div div img{
        height: 80em;
    }
}