nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.5em;
    background-color: #F2EFEB;
}
nav p{
    margin: 0;
}
.logo img{
    width: 30%;
}
.items{
    width: 70%;
    margin-right: 20em;
    display: flex;
    justify-content: center;
}
.items p{
    margin: 0 1em;
}