nav{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 0.5em;
    background-color: #F2EFEB;
    background-image: url("../../../public/assets/bone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40% 70%;
}
nav p{
    margin: 0;
}
nav .logo img{
    width: 30%;
}
nav .items{
    width: 70%;
    margin-left: 8em;
    display: flex;
    justify-content: center;
}
nav .items p{
    margin: 0 1em;
}
nav .socialMedia{
    display: flex;
    margin: 0 3em;
}
nav .socialMedia div{
    width: max-content;
}
nav .socialMedia img{
    width: 60%;
}
nav .items p:hover, .socialMedia img:hover{
    transform: scale(1.2);
}
nav .login{
    width: 20%;
}