@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
body{
  background-color: #F2EFEB;
  color: #261501;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: regular;
  margin: 0;
}
.App{
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
  color: #1D4273;
}
a:hover{
  transform: scale(1.2);
}